.container{
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.hex-colors{
    border: 1px solid black;
    width: 50%;
    height: 50%;
    text-align: center;
}
.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation:  changeclr 5s infinite alternate;
}

@keyframes changeclr{
    0%{
        color: indianred;
    }
    20%{
        color: blue;
    }
    40%{
        color: orange;
    }
    60%{
        color: gray;
    }
    80%{
        color: violet;
    }
}